
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]='hotel.photo.images.original.url' class="img-fluid rounded-start" alt="Picture from hotel">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{hotel.name}}</h5>
          <p class="card-text">{{hotel.ranking}}</p>
          <p class="card-text"><small class="text-muted">{{hotel.rating}}/5 ({{hotel.num_reviews}} reviews)</small></p>
          <h5 class="card-price">{{hotel.price}} ({{hotel.hac_offers.offers[0].display_price}})</h5>
          <div class="websiteBtn">
            <button type="button" class="btn btn-primary applyBtn" (click)="book()">Visit Site to Book</button>
          </div>
        </div>
      </div>
    </div>
  </div>